.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.margin-right-10 {
  margin-right: 10px;
}

.grid-item {
  justify-self: center;
  grid-column-start: 1;
}

.favorite {
  color: transparent;
  border: black;
  background-color: currentColor;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: absolute;
  left: 45%;
  top: 45%;
  width: 50px;
}

.favorite-checkbox {
  display: none;
}

.favorite::before,
.favorite::after {
  content: "";
  background-color: currentColor;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.favorite:before {
  top: -25px;
  left: 0;
}

.favorite:after {
  left: 25px;
  top: 0;
}

.favorite-checkbox:checked + .favorite {
  color: red;
  border: none;
}
