.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.margin-right-10 {
  margin-right: 10px;
}

.grid-item {
  justify-self: center;
  grid-column-start: 1;
}

.favorite-button {
  grid-column-start: 2;
  margin-left: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  justify-self: center;
}

.nav {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
}

.nav li {
  text-align: center;
  flex: 1;
  list-style-type: none;
  padding: 10px;
}
